.hostCardMenu, .groupCardMenu{
    max-height: 500px;
    overflow: auto;
}

@media only screen and (max-height: 750px) {
    .hostCardMenu{
        max-height: 400px;
        overflow: auto;
    }
    
}
@media only screen and (max-height: 885px) {
    .groupCardMenu{
        max-height: 410px;
        overflow: auto;
    }
    
}
@media only screen and (max-height: 800px) {
    .groupCardMenu{
        max-height: 380px;
        overflow: auto;
    }
    
}